html, body {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}

/*======== GRID ========*/
.box-col {
    width: 200px;
    margin-right: 0px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.box-col:last-child {
    margin-right: 0px;
    margin-left: 30px;
    width: 160px;
}

.box-col:first-child {
    width: 290px;
    margin-right: 30px;
}

.fbox-col {
    width: 300px;
    margin-right: 50px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.fbox-col:last-child {
    margin-right: 0px;
}

/*======== BACKGROUND ========*/
.background {
    background: #edeef0;
    width: 100%;
    min-height: 800px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*======== HEADER ========*/
.header {
    background: #213869;
    height: 70px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header-box {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    height: 70px;
    width: 290px;
    margin-left: 150px;
    justify-content: center;
}

.autorize-box {
    background: #2b4b91;
    width: 160px;
    height: 85px;
    
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.link-txt {
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-top: 10px;
    
    /*рамка*/
    display: inline-block;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    border-bottom: #000;
    border-top: #000;
}

.link-txt a {
    text-decoration: none;
    color: #FFF;
}

.link-txt a:hover {
    color: #539aac;
    border-color: #539aac;
    transition: 0.2s ease-out;
}

.link-txt:hover {
    color: #539aac;
    border-color: #539aac;
    transition: 0.2s ease-out;
}

.log-txt a {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.log-txt a:hover {
    color: #539aac;
    transition: 0.2s ease-out;
}


/*======== PAGE ========*/

.page {
    background: white;
    box-shadow: 0 0px 10px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
    width: 1310px;
    min-height: 800px;
    height: 100%;
    text-align: center;
    flex-direction: column;
    position: relative;
    display: flex;
}

.cart {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.beginform {
    text-align: left;
}

.right-box {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 30px;
    width: 1300px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.page-box {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 1310px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.books-body {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    width: 1000px;
}
/*======== FOOTER ========*/
.footer {
    background: #213869;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.footer-box {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-txt {
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    /*рамка*/
    display: inline-block;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    border-bottom: #000;
    border-top: #000;
}

p.footer-icons {
    color: #FFF;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.footer-icons a {
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
}

p.footer-icons a:last-child {
    margin-right: 0px;
}

p.footer-icons a:hover {
    color: cadetblue;
    transition: 0.2s ease-out; 
}

/*======== OTHER PAGES ========*/

/*======== EDIT BOOK ========*/

.edit-box {
    width: 700px;
    background: white;
    margin-top: 30px;
    border: 2px solid #edeef0;
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.background-edit {
    background: #edeef0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.head-edit {
    text-align: center;
    width: 700px;
}

/*========= MEDIA =========*/
/* при ширине экрана 1160px и менее - будет выполнен медиа запрос */
@media (max-width: 1160px) {
    .footer-box {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}