﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap стили -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <!-- Инструкция для IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Отображать страницу в масштабе 100% -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Нормализация стилей -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <!-- Собственные стили -->
    <link rel="stylesheet" href="~/Content/myStyles/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/myStyles/img/favicon/favicon.png">
    <!-- Подключение веб-шрифтов -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|PT+Sans+Caption:400,700&amp;subset=cyrillic-ext">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="background">
        <!--=========== HEADER ===========-->
        <div class="header">
            <div class="header-box">
                <div class="box-col" style="margin-right: 60px;"> <img class="logo-img" src="~/Content/myStyles/img/main-page/logo.png" alt="BookStore" height="70"> </div>
                <div class="box-col"  style="margin-right: 20px;"> <div class="link-txt"> <a href="#"> главная </a> </div> </div>
                <div class="box-col"> <div class="link-txt"> <a href="#"> библеотека </a> </div> </div>
                <div class="box-col" style="width: 200px; margin-right: 80px; margin-left: 70px;">
                    @using (Html.BeginForm())
                    {
                        <div class="row" id="find">
                            <div class="col-sm-3 input-group" style="display: flex;">
                                <span> <button type="submit" class="btn btn-default"> Найти </button> </span>
                                <input type="text" class="form-control" style="width: 200px;" name="filter" value="@ViewBag.filter" placeholder="Поиск книги..." />
                            </div>
                        </div>
                    }
                </div>
                <div class="box-col">
                    <div class="autorize-box">
                        <div class="log-txt"> <a href="~/account/login"> войти </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== PAGE ===========-->
        <div class="page">
            <div class="cart">
                <div class="books-body">
                    <div id="categories">
                        @Html.Action("Menu", "Nav", new { horizontalNav = true })
                    </div>
                </div>
                @Html.Action("Summary", "Cart")
            </div>
            <div class="page-box">
                <div class="right-box">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--=========== FOOTER ===========-->
        <div class="footer">
            <div class="footer-box">
                <div class="fbox-col"> <p class="footer-txt"> адрес в Казани: ул.Гагарина 75a </p> </div>
                <div class="fbox-col">
                    <p class="footer-txt"> наши контакты <br> +7(962)777-77-77 <br> BookStore@gmail.com </p>
                </div>
                <div class="fbox-col">
                    <p class="footer-txt"> мы в социальных сетях </p>
                    <p class="footer-icons">
                        <a href="#" target="_blank"> <i class="fa fa-vk" aria-hidden="true"></i> </a>
                        <a href="#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
                        <a href="#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                        <a href="#" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        <a href="#" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i> </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>