﻿@model BookStore.Domain.Entities.Book

<div class="well" style="clear: both; float: left;">
    <div class="pull-left"
         style="margin-right: 10px; 
                flex-direction: column; 
                display: flex; 
                margin-bottom: 0px;">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.BookId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            </div>
            <input type="submit" 
                   class="btn btn-success" 
                   value="Добавить" />
        }

        @if (Model.ImageData != null)
        {
            <img class="img-thumbnail" 
                 style="margin-top: 15px;" 
                        width="130" 
                        height="130" 
                 src="@Url.Action("GetImage", "Book", 
                        new { Model.BookId })" />
        }
    </div>
    <h3>
        <strong>@Model.Name</strong>
    </h3>

    <span class="lead">@Model.Description</span>
</div>