﻿@model BookStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "BookStore: форма заказа";
}

<div class="beginform">
    <h2>Забронировать книги</h2>
    <p>Пожалуйста введи ваши контактные данные, и мы сразу подготовим книги!</p>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary();

        <h3>Данные</h3>
        <div class="form-group">
            <label>Ваше имя:</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>

        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                </div>
            }
        }

        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Обработать заказ" />
        </div>
    }
</div>