﻿@model BookStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "BookStore: ваша корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Ваша книжная полка</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Книга</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.Name</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("BookId", line.Book.BookId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>

<div class="text-center">
    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить выбор</a>
        @Html.ActionLink("Забронировать книги", "Checkout", null, new { @class = "btn btn-primary" })
    </div>
</div>