﻿@model BookStore.Domain.Entities.Cart


<div class="navbar-right">
    @Html.ActionLink("Корзина", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-warning navbar-btn" })
    <div class="badge badge-light navbar-text navbar-right">
        @Model.Lines.Sum(x => x.Quantity) книг
    </div>
</div>



