﻿@model BookStore.Domain.Entities.Book

@{
    ViewBag.Title = "Админ панель: редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/myStyles/css/main.css">
<link rel="shortcut icon" type="image/x-icon" href="~/Content/myStyles/img/favicon/favicon.png">


<div class="background-edit">
    <div class="edit-box">
        <div class="head-edit">
            <h3>Редактирование книги «@Model.Name»</h3>
        </div>

        @using (Html.BeginForm("Edit", "Admin",
            FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="panel-body">
                @Html.HiddenFor(m => m.BookId)
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    switch (property.PropertyName)
                    {
                        case "BookId":
                        case "ImageData":
                        case "ImageMimeType":
                            // Ничего не делать
                            break;
                        default:
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>
                                @if (property.PropertyName == "Description")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                        new { @class = "form-control", rows = 5 })
                                }
                                else
                                {
                                    @Html.TextBox(property.PropertyName, null,
                                        new { @class = "form-control" })
                                }
                                @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                    }
                }
                <div class="form-group">
                    <div style="position:relative;">
                        <label>Картинка</label>
                        <a class='btn' href='javascript:;'>
                            Выберите файл...
                            <input type="file" name="Image" size="40"
                                    style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                                    onchange='$("#upload-file-info").html($(this).val());'>
                        </a>
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                    @if (Model.ImageData == null)
                    {
                        <div class="form-control-static">Нет картинки</div>
                    }
                    else
                    {
                        <img class="img-thumbnail" width="150" height="150"
                                src="@Url.Action("GetImage", "Book",
                        new { Model.BookId })" />
                    }
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
                {
                    @class = "btn btn-default"
                })
            </div>
        }
    </div>
</div>