﻿@model IEnumerable<BookStore.Domain.Entities.Book>

@{
    ViewBag.Title = "Админ панель: список товаров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список книг</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered" >
            <tr>
                <th class="text-right">ID</th>
                <th style="width: 150vh;">Название</th>
                <th class="text-right" style="width: 200px;">Статус</th>
                <th class="text-center" style="display: flex;">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.BookId</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { item.BookId })</td>
                    <td class="text-right">в наличии</td>
                    <td class="text-center" 
                        style="display: flex; 
                               justify-content: center;">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("BookId", item.BookId)
                            <input type="submit" 
                                   class="btn btn-default btn-xs" 
                                   style="margin-right: 10px;" 
                                   value="Удалить" />
                        }
                        @using (Html.BeginForm("Edit", "Admin"))
                        {
                            @Html.Hidden("BookId", item.BookId)
                            <input type="submit" 
                                   class="btn btn-default btn-xs" 
                                   value="Изменить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить книгу", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>