﻿@model BookStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/myStyles/css/main.css">
<link rel="shortcut icon" type="image/x-icon" href="~/Content/myStyles/img/favicon/favicon.png">

<div class="background-edit">
    <div class="edit-box" style="width: 500px; text-align: center;">
        <div class="panel-heading">
            <h3>Вход в систему</h3>
            <p class="">Пожалуйста, 
            войдите в систему, чтобы 
            получить доступ к 
            редактированию:
            </p>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Имя пользователя:</label>
                    @Html.TextBoxFor(m => m.UserName, 
                    new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.PasswordFor(m => m.Password, 
                    new { @class = "form-control" })
                </div>
                <input type="submit" value="Войти" 
                       class="btn btn-primary" 
                       style="margin-bottom: 40px;"/>
            }
        </div>
    </div>
</div>